body {
    margin: 0%;
}

.header1 {
    display: flex;
    flex-direction: row;
    background-color:rgb(0, 45, 47);
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px 70px 150px;
}

.right-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    gap: 30px;
}
.logo {
    
}

.logo img{
    width: 75px;
    height: auto;
}
.header2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(0, 45, 47);
    padding: 15px 150px 7px 150px;
    height: 300px;
    gap: 25px;
}

.dog img {
    width: 400px;
    border-radius: 15px;
    height: 200px;
    max-height: auto;
    max-width: 100%;
}

.header2-right {
    padding-top: 15px;
}

.header2-left{
    color: antiquewhite;
    max-height: 100%;
    justify-content: ;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.header2-left h1{
    font-size:1.cm;
    font-weight:bold ;
}
.small-txt {
    font-size: 0.5cm;
}

.header2-left button{
    background-color: rgb(84, 84, 210);
    width: 100px;
    height: 40px;
    font-size: medium;
    border-radius: 10px;
    color: antiquewhite;
    max-width: 100%;
    max-height: 100%;
    border-color: antiquewhite;
    padding-top: 2px
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c1{
    padding: 20px 0 20px 0;
    font-size: x-large;
    font-weight: bold;
    color: rgb(0, 45, 47);
}
.c2{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 10px 50px 50px 50px;
    flex: ;
    max-width: 100%;
    align-items: center;
}
.pic img{
    max-width: 100%;
    max-height: auto;
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border-color: rgb(31, 122, 202);
}

.pic {
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    width: 200px;
    max-width: 100%;
    height: 287px;

}

.text{
    text-align:center;
    padding-top: 15px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
}

.experience {
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px;
}

.name {
    text-align: right;
    align-self: flex-end;
    padding-top: 30px;
    font-size: large;
    font-weight:bolder;
}

.txt{
    font-style: italic;
    font-size: 0.7cm;
}

.footer1 {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.sub-footer1{
    display: flex;
    background-color:rgb(68, 68, 255) ;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    color: antiquewhite;

}

.button button {
    border-color: white;
    border-radius: 10px;
    background-color: rgb(68, 68, 255);
    color: white;
    font-size: larger;
}

.footer2 {
    background-color: rgb(0, 45, 47);
    padding-bottom: 20px;
    padding-top: 20px;
}
.footer2 h4 {
    color: white;
    text-align: center;
    align-items: center;
}